node_modules/
dist/
.expo/
.DS_Store
*.log
.env
.env.local
backend/.env
mobile/.env
coverage/
.vscode/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
rppg/
mobile/
glowcheck/.dart_tool/
glowcheck/build/
glowcheck/.flutter-plugins
glowcheck/.flutter-plugins-dependencies
glowcheck/.packages
glowcheck/.idea/
backend/.vercel
glowcheck/.vercel
